@model FuncionarioViewModel
@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Editar">
    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating pb-3">
                <input asp-for="Nome" class="form-control" />
                <label asp-for="Nome" class="control-label"></label>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-floating pb-3">
                <input asp-for="Cpf" class="form-control" maxlength="11" />
                <label asp-for="Cpf" class="control-label"></label>
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-floating pb-3">
                <input asp-for="DataNascimento" class="form-control" />
                <label asp-for="DataNascimento" class="control-label"></label>
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-floating pb-3">
                <input asp-for="Telefone" class="form-control" />
                <label asp-for="Telefone"></label>
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating pb-3">
                <select asp-for="GestorId" asp-items="@Model.ListaGestores.Select(x => new SelectListItem{ Value = x.Id.ToString(), Text = x.Nome})" class="form-select"></select>
                <label asp-for="GestorId"></label>
            </div>
            <div class="form-floating pb-3">
                <select asp-for="CargoId" asp-items="@Model.ListaCargos.Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Nome}).ToList()" class="form-select"></select>
                <label asp-for="CargoId"></label>
            </div>
            <div class="form-floating pb-3">
                <select asp-for="RegimeTrabalhistaId" asp-items="@Model.ListaRegimesTrabalhistas.Select(x => new SelectListItem {Value = x.Id.ToString(), Text = x.Descricao}).ToList()" class="form-select"></select>
                <label asp-for="RegimeTrabalhistaId"></label>
            </div>
            <div class="form-floating pb-3">
                <input asp-for="Email" class="form-control" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-start">
            <a class="btn btn-primary" asp-action="Index">Retornar para lista</a>
        </div>
        <div class="col-md-6 text-end">
            <input type="submit" class="btn btn-primary" value="Salvar Alterações" />
        </div>
    </div>
</form>